.imageViewStyle:hover {
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 3, 1, 0, 0);
  -fx-cursor: hand;
}

.toHandCursor:hover {
  -fx-cursor: hand;
}

.list-cell {
  -fx-background-color: #e3e4e9;
  -fx-padding: 0;
  -fx-border-width: 0;
  -fx-pref-height: 30;
}

.list-cell:selected,
.list-cell:filled:selected {
  -fx-background-color: #d4d6dc;
  -fx-background-insets: 0;
  -fx-text-fill: black;
}

.list-cell:filled:hover {
  -fx-background-color: #d4d6dc;
  -fx-background-insets: 0;
  -fx-text-fill: black;
  -fx-cursor: hand;
}
.txtField, .txtField:selected {
  -fx-background-color: #e3e4e9;
}

.scroll-pane .viewport {
  -fx-background-color: transparent;
  -fx-background: transparent;
}

.lan {
  -fx-background-color: #e7e6e8;
  -fx-text-fill: black;
  -fx-alignment: center;
  -fx-cursor: hand;
}

.lan.focus, .lan:hover {
  -fx-background-color: #3885eb;
  -fx-text-fill: white;
  -fx-alignment: center;
  -fx-cursor: hand;
}

.split-pane:vertical > * > sp {
  -fx-border-color:  transparent;
  -fx-background-color: transparent;
  -fx-background-insets: 0;
}

.translateArea, .translateArea:focused {
  -fx-background-color: none;
  -fx-focus-color: transparent;
  -fx-border-style: none;
  -fx-border-color: none;
  -fx-border-width: 0;
}